/* CSS Entry Point */
.app {
  width: 300px;
  margin: auto;
}
.home {
  height: 500px;
  width: 250px;
  background: darken(white, 50%);
}
.contacts {
  height: 100%;
  width: 100%;
}
.title {
  height: 25px;
  width: 100%;
  background: #81BC39;
  font-size: 20px;
  padding: 5px;
  border-bottom: 3px solid #649C1A;
}
.contact {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.detail {
  height: 500px;
  width: 300px;
  background: gray;
}
.conPic {
  height: 200px;
  width: 200px;
}
.murray {
  height: 100px;
  margin-right: 20px;
}
.singlePage {
  border: 1px solid #EDEDED;
  display: flex;
  flex-direction: column;
  position: relative;
}
.picContainer {
  background: #A7D076;
  width: 300px;
  display: flex;
  justify-content: center;
}
.spanContainer {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  img {
    height: 30px;
    margin-right: 12px;
  }
}
button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
